{% extends 'base.html' %}
{% load static %}


<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

{% block body%}
<style>
 
    .text{
        font-size: xx-large;
        font-weight: 900;
        color: rgb(137, 98, 199);
        text-align: center;
    }
   
   
      
   
   
       
   </style>



    <img src="{% static 'images/covid.jpg' %}" alt="" style="margin-bottom: 0.6cm;">
    <div><h2 style="  font-family: 'Architects Daughter', cursive;font-weight: 900;font-size: xxx-large;
    position: absolute;top: 70%;left: 40%;color: darkslateblue;">mission and vision</h2></div>
    
        <div class="text" style=" font-family: 'Architects Daughter', cursive;font-size: xx-large;">
            WE PROVIDE LIFE-SAVING HEALTH <br>AND DISABILITY CARE FOR THE WORLD’S MOST<br> VULNERABLE
        </div>
    



{%endblock%}