{% extends 'base.html' %}
{% load static %}


{% block body%}

<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

<style>

    .head{
        font-family: 'Architects Daughter', cursive;
        font-weight: bolder;
        font-size: xx-large;
        margin-left: 3cm;
        text-transform: uppercase;

    }
    .q1{
        font-family: 'Architects Daughter', cursive;
        margin-left: 3cm;

    }
    .q1 h1{
        margin-top: 0.5cm;
        font-size: x-large;
    }
    .q1 h3{
        margin-top: 0.4cm;
        background-color: #FFEEa9;
        margin-right: 4cm;
        margin-left: 2cm;
        /* border-radius: 15px; */
        width: 80%;
        margin-bottom: 2cm;
       
        /* background-image: url("{% static 'images/donate.jpeg' %}"); */
      
        
        
       
    }
    body{
        background-image: url("{% static 'images/donate3.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<body>
    

<h1 class="head">donation faqs</h1><hr width="17%" style="margin-left: 3cm;">


<div class="q1">
    <h1>Q.1 What is PM CARES Fund?</h1>
        <h3>PM CARES Fund is a public charitable trust. It has been set up keeping in mind the need for having a dedicated fund with the primary objective of dealing with any kind of emergency or distress situation, 
        like posed by the COVID-19 pandemic, and to provide relief to the affected.</h3>
</div>
<div class="q1">
    <h1>Q.2 Who are the Trustees of the PM CARES Fund?</h1>
    <h3>The Prime Minister is Chairperson (ex-officio) of the PM CARES Fund and Minister of Defence, Minister of Home Affairs and Minister of Finance, Government of India are ex-officio Trustees of the Fund.

        The Prime Ministers as the Chairperson of the Board of Trustees of PM CARES Fund has the power to nominate three trustees to the Board who shall be eminent persons in the field of research, health, science, social work, law, public administration and philanthropy.
         All the Trustees of the PM CARES Fund act in a pro bono capacity.</h3>
</div>
<div class="q1">
    <h1>Q.3 What are the Objectives of the PM CARES Fund Trust?</h1>
    <h3>
        The primary objectives of the PM CARES Fund Trust are:<br>

       1. To undertake and support relief or assistance of any kind relating to a public health emergency or any other kind of emergency, calamity or distress, either man-made or natural, including the creation or upgradation of healthcare or pharmaceutical facilities, other necessary infrastructure, funding relevant research or any other type of support.<br>
       2. To render financial assistance, provide grants of payments of money or take such other steps as may be deemed necessary by the Board of Trustees to assist the affected population.<br>
       3. To undertake any other activity, which is not inconsistent with the above Objects.<br>
        



    </h3>
</div>
<div class="q1">
    <h1>Q.4 What is the legal framework of PM CARES Fund?</h1>
    <h3>PM CARES Fund has been registered as a Public Charitable Trust. The trust deed of PM CARES Fund has been registered under the Registration Act, 1908 at New Delhi on 27th March, 2020.</h3>
</div>


<div class="q1">
    <h1>Q.5 Who audits the PM CARES Fund?</h1>
    <h3>PM CARES Fund is audited by an independent auditor. Trustees of the Fund during the 2nd meeting held on 23.04.2020 decided to appoint M/s SARC & Associates, Chartered Accountants, New Delhi as the auditors of PM CARES Fund for 3 years.</h3>
</div>


<div class="q1">
    <h1>Q.6 Is there any transaction charge for online payment?</h1>
    <h3>There is no transaction charge levied by PM CARES Fund for online payment. However some banks may levy the net-banking transaction charges, which may vary from bank to bank.</h3>
</div>

<div class="q1">
    <h1>Q.7 What are the modes through which domestic donation can be made to PM CARES Fund?</h1>
    <h3>



        Contributions can be made by following modes:-

.Net Banking (SBI and other commercial Banks)
.Card Payments – SBI ATM-cum-Debit Card, Other Bank Debit Cards, Credit Card, Prepaid Card, Foreign Card
.Other Payment mode: SBI Branch, NEFT/RTGS
Contributions can also be made online through the dedicated portal – pmcares.gov.in as well as the portal of PMO i.e. pmindia.gov.in. One can also contribute through the portals of the collection banks.

Further, cheque or demand draft drawn in favour of ‘PM CARES Fund’ can be sent to Under Secretary (Funds), PMO, South Block, New Delhi, Pin -110011 along with Name, Address, Mobile No. and E-mail ID of the donor.
    </h3>
</div>


<div class="q1">
    <h1>

        Q.8 How much money has been sanctioned from PM CARES Fund?
    </h1>

    <h3>
        So far, an amount of Rs. 3100 Crore has been allocated from PM CARES Fund for the following activities:-<br>

       a. Rs. 2000 Crore : For supply of 50,000 ‘Made-in India’ ventilators to Government Hospitals run by Centre/States/UTs<br>
       b. Rs. 1000 Crore : For care of migrant labourers (funds allotted to State/UT Govts.)<br>
      c.  Rs. 100 Crore : For vaccine development

    </h3>
</div>
</body>

{%endblock%}