{% extends 'base.html' %}
{% load static %}

{% block body%}
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<style>
.head{
    text-align: center;
    text-decoration: black;
    background-color:rgba(188, 168, 233, 0.671);
    border-radius: 100px;
    margin-top: 0.9;
    margin-bottom: 1.2cm;
    padding: 10px

}
</style>

<!-- <button style="width: 0.5cm;height: 0.5cm;margin-left: 0.5cm;position: auto;"><a href="/"><img  src="{% static 'images/back.png' %}" alt=""></a></button>
<a href="/"><b style="margin-top: 2px;">HOME</b></a> -->

<h2 class="head"><button style="width: 0.5cm;height: 0.5cm;margin-left: 0.5cm;float: left;background-color: orangered;"><a href="/"><img  src="{% static 'images/back2.png' %}" alt=""></a></button>
<!DOCTYPE html>
	<a href="/"><b style="margin-top: 2px;float: left;margin-left: 5px;  font-family: 'Architects Daughter', cursive;">HOME</b></a><b style="  font-family: 'Architects Daughter', cursive;font-size: large;">HELPLINE NUMBERS</b></h2>

<!DOCTYPE html>
<html>

<head >
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			font-family: 'Architects Daughter', cursive;
			font-weight: 900;
			font-size: large;
		}
		
		th, td {
			padding: 5px;
			text-align: left;
		}
	</style>



	<table style="width:100%">
		<tr>
			<th>Apthamitra</th>
			<td>14410</td>
		</tr>
		<tr>
			<th rowspan="2">State COVID ControlRoom

                Numbers</th>
			<td>080-46848600</td>
            
		</tr>
		<tr>
			<td>080-66692000</td>
		</tr>
        
	</table>

    <h3 style="text-align: center; text-transform: capitalize;
    margin-top: 1.2ch; margin-bottom: 1.2cm;border-radius: 2cm;background-color: green;padding: 10px;  font-family: 'Architects Daughter', cursive;font-size: large;" >
        <b>District Wise COVID 19 Control Room Numbers</b></h3>
		<hr style="color: black;">




	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			margin-bottom: 1cm;
		}
		
		th, td {
			padding: 20px;
			text-transform: capitalize;
			text-align: center;
		}
		
		th {
			text-align: center;
			text-transform: capitalize;
		}
	</style>




	<table style="width:100%">
		<!-- <caption>DETAILS</caption> -->
		<tr>
			<th>SL NO</th>
			<th>District Name</th>
			<th>Covid Control Room Numbers</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Bidar</td>
			<td>18004254316</td>
		</tr>
		<tr>
			<td>2 </td>
			<td>Bagalkote</td>
			<td>08354-236240, 08354-236240/1077</td>
		</tr>
		<tr>
			<td>3	</td>
			<td>Bellary</td>
			<td>08392-1077, 08392-277100, 8277888866 (Whatsapp no)</td>
		</tr>
        <tr>
			<td>4</td>
			<td>Belgavi</td>
			<td>0831-2407290(1077), 0831-2424284</td>
		</tr>
        <tr>
			<td>5</td>
			<td>bengaluru urban</td>
			<td>080-1077, 080-22967200</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Bengaluru Rural</td>
			<td>080-29781021</td>
		</tr>
		<tr>
			<td>7</td>
			<td>	Chamarajanagar</td>
			<td>08226-1077, 08226-223160</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Chikkabalapur</td>
			<td>08156-1077/277071</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Chikamangaluru</td>
			<td>08262-238950, 08262-1077</td>
		</tr>
		<tr>
			<td>10</td>
			<td>	Chitradurga</td>
			<td>08194-222050/222044/222027/222056/222035</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Dharwad</td>
			<td>0836-1077/2447547</td>
		</tr>
		<tr>
			<td>12</td>
			<td>	Davangere</td>
			<td>08192-234034, 08192-1077</td>
		</tr>
		<tr>
			<td>13</td>
			<td>	Gadag</td>
			<td>08372-239177, 08372-1077</td>
		</tr>
		<tr>
			<td>14</td>
			<td>hasan</td>
			<td>08172-261111/1077</td>
		</tr>
		<tr>
			<td>15</td>
			<td>Haveri</td>
			<td>08375-249102/249104</td>
		</tr>
		<tr>
			<td>16</td>
			<td>kalaburgi</td>
			<td>1047, 08472278698, 08472278677, 08472278648, 08472278604</td>
		</tr>
		<tr>
			<td>17</td>
			<td>uttar kannada</td>
			<td>1077, 08382-229857</td>
		</tr>
		<tr>
			<td>18</td>
			<td>kolar</td>
			<td>08152-243521</td>
		</tr>
		<tr>
			<td>19</td>
			<td>koppal</td>
			<td>08539-225001</td>
		</tr>
		<tr>
			<td>20</td>
			<td>kodagu</td>
			<td>08272220606, 08272-1077</td>
		</tr>
		<tr>
			<td>21</td>
			<td>mandya</td>
			<td>08231-1077, 08232-224655</td>
		</tr>
		<tr>
			<td>22</td>
			<td>dakshin kannada</td>
			<td>0824-1077, 0824-2442590</td>
		</tr>
		<tr>
			<td>23</td>
			<td>	Mysuru</td>
			<td>0821-2423800, 0821-1077</td>
		</tr>
		<tr>
			<td>24</td>
			<td>raichur</td>
			<td>08532-228559, 08532-1095, 08532-1077, 08532-226383, 08532-226020</td>
		</tr>
		<tr>
			<td>25</td>
			<td>ramanagar</td>
			<td>8277517672, 080-27271195, 080-27276615</td>
		</tr>
		<tr>
			<td>26</td>
			<td>shivamogga</td>
			<td>08182-221010, 08182-1077</td>
		</tr>
		<tr>
			<td>27</td>
			<td>tumukar</td>
			<td>08162-1077/ 278787/ 251414/ 257368/ 252025/ 252321</td>
		</tr>
		<tr>
			<td>28</td>
			<td>udupi</td>
			<td>9663957222, 9663950222</td>
		</tr>
		<tr>
			<td>29</td>
			<td>vijayapura</td>
			<td>08352-1077, 08352221261</td>
		</tr>
		<tr>
			<td>30</td>
			<td>yadagiri</td>
			<td>08473-253950, 9449933946</td>
		</tr>
		
	</table>




{%endblock%}
